numpy
scipy
h5py
six
cython
tqdm
click
PyQt5==5.9
colorcet
pyopengl
requests
traitlets
joblib
matplotlib
spikeinterface
MEArec
klusta
klustakwik2
jupyter
git+https://github.com/cortex-lab/phy@dev
git+https://github.com/cortex-lab/phylib
